html {
	background-attachment: fixed;
	background-size: cover;
}

.responsive-image img {
	display: block;
}

.main {
	width: 100%;
	overflow: hidden;
}

.responsive-image {
	position: relative;
}

.section {
	background-size: cover;
	padding: 1em 1em;
	outline: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: relative;
    @include respond-min($tablet) {
		h2 {
			font-size: 1.125rem;
		}
	}
	h3 {
		font-size: .875rem;
	}
	hr {
		margin: $spacing / 2 auto; 
	}
}

.btn {
	border: 2px solid white;
	color: white;
	display: block;
	font-family: $font-secondary;
	text-transform: uppercase;
	padding: 0.75em  3em;
	font-size: .875rem;
	transition: opacity 0.2s;
    letter-spacing: 0.2em;
	&:hover {
		color: white;
		opacity: 0.9;
	}
}

%page {
	background-size: cover;
	padding-top: 68%;
	background-color: white;
}
.p-landing {
	background-image: url(../img/linenc.jpg);
	background-color: transparent!important;
	margin-bottom: $spacing * 4;
	// background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	padding-top: 58px!important;
	padding-bottom: 0;

}

.p-range {
	margin-top: 100vh;
	background-color: white;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
	padding-top: 2em;
    .btn {
    	border-color: $color-primary;
    	color: $color-primary;
    }
    img {
    	margin: 1em 0;
    }
    @include respond-min($tablet-wide) {
    	img {
    		margin: 0;
    	}
		header {
			position: absolute;
			top: 9%;
		}
		footer {
			position: absolute;
			bottom: 7%;
		}
		.btn {
	    	border-color: white;
	    	color: white;
	    }
    }
}


.p-rice-is-key {
	background-image: url(../img/1_mobile.jpg);
	@media only screen  and (orientation : landscape){
		background-image: url(../img/1.jpg);		
	}
	@extend %page;
	.c-section__overlay {
	    left: 58%;
	    top: 50%;
	    max-width: 18em;
	    right: 0;
	}
}

.p-toji {
	background-image: url(../img/2_mobile.jpg);
	@media only screen  and (orientation : landscape){
		background-image: url(../img/2.jpg);		
	}
	@extend %page;
	.c-section__overlay {
	    max-width: 22em;
	}
}


.p-tai {
	background-image: url(../img/3_mobile.jpg);
	@media only screen  and (orientation : landscape){
		background-image: url(../img/3.jpg);		
	}
	@extend %page;
	.c-section__overlay {
	    right: 10%;
	    top: 50%;
	    transform:translateY(-50%);
	}
}

.p-artisan {
	background-image: url(../img/4_mobile.jpg);
	@media only screen  and (orientation : landscape){
		background-image: url(../img/4.jpg);		
	}
	@extend %page;
}

.p-tank {
	border-bottom: $spacing * 4 solid white;
}

.p-rice {
	background-image: url(../img/6_mobile.jpg);
	@media only screen  and (orientation : landscape){
		background-image: url(../img/6.jpg);		
	}
	@extend %page;
	.c-section__overlay {
		max-width: 21em;
	    bottom: 10%;
	}
}


.c-section__overlay {
	position: absolute;
}

.section--text {
	padding: 70px 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	position: relative;
}

.section-body {
	max-width: 46em;
}

.section-columns {
	padding-top: $spacing * 2;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	> div {
		margin-bottom: 2em;
	}

	@include respond-min($tablet-wide) {
		flex-direction: row;
		> div {
			margin-bottom: 0;
			width: 25%;
		}
	}
}

.section-header {
	text-transform: uppercase;
}


.c-section__text {
	font-family: $font-secondary;
	border-bottom: 2px solid $color-primary;
	margin-bottom: 32px;
	padding-bottom: 8px;
}





.region-link {
	color: black;
	border-bottom: 2px solid $color-primary;
	padding-bottom: 3px;
}

.outside-japan {
	display: flex;
    align-items: center;
    justify-content: center;

    > * {
	    border-bottom: 2px solid $color-primary;
		padding-bottom: $spacing / 2;
		margin-bottom: $spacing ;
    }
}

.social-links {
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-links__item {
	display: inline-block;
	a {
		width: 22px;
		height: 22px;
		text-indent: -9999px;
		display: inline-block;
		background-size: cover;
	}
}

.social-links__item--twitter a{
	background-image: url(../svg/twitter.svg);
}

.social-links__item--facebook a{
	background-image: url(../svg/facebook.svg);	
}

@media (max-width: $tablet) {
	.c-section__overlay {
		position: relative!important;
	    transform:translateY(0%)!important;
	}
}

.mobile-carousel {
	position: absolute; 
	z-index: 2;
	background: white;
	padding-top: 58px;
	opacity: 0;
	visibility: hidden;
    transition: opacity 0.5s;
    display: none;
}



.mobile-carousel__text {
	padding: 3rem 1rem 2rem;
	h1 {
		font-size: 2em;
		 display: inline-block;
	    border-bottom: 2px solid $color-primary;
	    margin-bottom: 1.25em;
	    padding-bottom: 0.75em;
	    line-height: 1;
	}
	h4 {
		font-family: $font-primary;
		font-size: 1.5em;
		line-height: 1;
	}
}