.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.justify {
  text-align: justify; }

.float-left {
  float: left; }

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.float-right {
  float: right; }

.no-space {
  margin: 0;
  padding: 0; }

.space {
  margin: 1.5rem; }

.space-top {
  margin-top: 1.5rem; }

.space-right {
  margin-right: 1.5rem; }

.space-btm {
  margin-bottom: 1.5rem; }

.space-left {
  margin-left: 1.5rem; }

.bg-primary {
  background-color: #CE1A31; }

.text-primary {
  color: #CE1A31; }

.text-white {
  color: #FFFFFF; }

.img-center {
  display: block;
  margin: 0 auto 1.5rem auto; }

.is-uppercase {
  text-transform: uppercase; }

.hide {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  @page {
    margin: 0.5cm; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@viewport {
  width: device-width;
  zoom: 1.0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  background: #fff;
  text-size-adjust: 100%; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

a {
  background-color: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

iframe,
object,
embed {
  max-width: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

input[type="search"] {
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"] {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'gotham-medium';
  src: url("../fonts/gotham-medium/gotham-medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/gotham-medium/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium/gotham-medium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'gotham-light';
  src: url("../fonts/gotham-light/gotham-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/gotham-light/gotham-light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light/gotham-light.woff") format("woff"), url("../fonts/gotham-light/gotham-light.ttf") format("truetype"), url("../fonts/gotham-light/gotham-light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

html {
  font-size: 80%; }
  @media screen and (min-width: 48rem) {
    html {
      font-size: 100%; } }

body {
  font-family: "gotham-light", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #010000; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "gotham-medium", serif;
  font-weight: normal; }

h2,
h3 {
  letter-spacing: 0.2em; }

p {
  margin-bottom: 1.5rem; }

.font-primary {
  font-family: "gotham-light", serif; }

.font-secondary {
  font-family: "gotham-medium", serif; }

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; }

strong {
  font-family: "gotham-medium", serif; }

em,
cite,
dfn,
var {
  font-style: italic; }

a {
  text-decoration: none;
  word-wrap: break-word;
  color: #CE1A31; }

a:hover {
  color: #9b1425; }

a img {
  border: none;
  background: none; }

a:hover img {
  border: none;
  background: none;
  filter: alpha(opacity=90); }

hr {
  margin: 0.75rem auto 1.5rem;
  border: 0;
  border-top: 2px solid #CE1A31;
  border-bottom: 0 solid #fff; }

sub,
sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5rem; }

sub {
  bottom: -.25rem; }

abbr[title] {
  border-bottom: 0.0625rem dotted #010000; }

mark {
  background-color: yellow;
  color: #010000;
  padding: .25rem; }

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "gotham-medium", serif; }
  blockquote p:last-of-type {
    margin-bottom: .25rem; }
  blockquote cite {
    font-style: italic; }

figure {
  margin-bottom: 1.5rem; }

figcaption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: "gotham-medium", serif;
  font-size: .875rem;
  text-align: center;
  border-bottom: 0.0625rem solid #010000; }

::selection {
  color: #fff;
  background: #CE1A31; }

.container {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

/* Slider */
.slick-slider {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: white;
  z-index: 2;
  display: block;
  box-sizing: border-box;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  background-color: black; }

.slick-list {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  outline: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 4em;
  background: url(../svg/left.svg) transparent no-repeat;
  border: 0;
  width: 14px;
  height: 34px;
  text-indent: -9999px;
  background-size: cover;
  padding: 0; }

.slick-next {
  left: auto;
  right: 4em;
  background-image: url(../svg/right.svg); }

.slick-dots {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: white; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li.slick-active button {
  background-color: #CE1A31; }

html {
  background-attachment: fixed;
  background-size: cover; }

.responsive-image img {
  display: block; }

.main {
  width: 100%;
  overflow: hidden; }

.responsive-image {
  position: relative; }

.section {
  background-size: cover;
  padding: 1em 1em;
  outline: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative; }
  @media screen and (min-width: 40rem) {
    .section h2 {
      font-size: 1.125rem; } }
  .section h3 {
    font-size: .875rem; }
  .section hr {
    margin: 0.75rem auto; }

.btn {
  border: 2px solid white;
  color: white;
  display: block;
  font-family: "gotham-medium", serif;
  text-transform: uppercase;
  padding: 0.75em  3em;
  font-size: .875rem;
  transition: opacity 0.2s;
  letter-spacing: 0.2em; }
  .btn:hover {
    color: white;
    opacity: 0.9; }

.p-rice-is-key, .p-toji, .p-tai, .p-artisan, .p-rice {
  background-size: cover;
  padding-top: 68%;
  background-color: white; }

.p-landing {
  background-image: url(../img/linenc.jpg);
  background-color: transparent !important;
  margin-bottom: 6rem;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 58px !important;
  padding-bottom: 0; }

.p-range {
  margin-top: 100vh;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 2em; }
  .p-range .btn {
    border-color: #CE1A31;
    color: #CE1A31; }
  .p-range img {
    margin: 1em 0; }
  @media screen and (min-width: 48rem) {
    .p-range img {
      margin: 0; }
    .p-range header {
      position: absolute;
      top: 9%;
      z-index: 10; }
    .p-range footer {
      position: absolute;
      bottom: 7%;
      z-index: 10; }
    .p-range .btn {
      border-color: white;
      color: white; } }

.p-rice-is-key {
  background-image: url(../img/1_mobile.jpg); }
  @media only screen and (orientation: landscape) {
    .p-rice-is-key {
      background-image: url(../img/1.jpg); } }
  .p-rice-is-key .c-section__overlay {
    left: 58%;
    top: 50%;
    max-width: 18em;
    right: 0; }

.p-toji {
  background-image: url(../img/2_mobile.jpg); }
  @media only screen and (orientation: landscape) {
    .p-toji {
      background-image: url(../img/2.jpg); } }
  .p-toji .c-section__overlay {
    max-width: 22em; }

.p-tai {
  background-image: url(../img/3_mobile.jpg); }
  @media only screen and (orientation: landscape) {
    .p-tai {
      background-image: url(../img/3.jpg); } }
  .p-tai .c-section__overlay {
    right: 10%;
    top: 50%;
    transform: translateY(-50%); }

.p-artisan {
  background-image: url(../img/4_mobile.jpg); }
  @media only screen and (orientation: landscape) {
    .p-artisan {
      background-image: url(../img/4.jpg); } }

.p-tank {
  border-bottom: 6rem solid white; }

.p-rice {
  background-image: url(../img/6_mobile.jpg); }
  @media only screen and (orientation: landscape) {
    .p-rice {
      background-image: url(../img/6.jpg); } }
  .p-rice .c-section__overlay {
    max-width: 21em;
    bottom: 10%; }

.c-section__overlay {
  position: absolute; }

.section--text {
  padding: 70px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative; }

.section-body {
  max-width: 46em; }

.section-columns {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }
  .section-columns > div {
    margin-bottom: 2em; }
  @media screen and (min-width: 48rem) {
    .section-columns {
      flex-direction: row; }
      .section-columns > div {
        margin-bottom: 0;
        width: 25%; } }

.section-header {
  text-transform: uppercase; }

.c-section__text {
  font-family: "gotham-medium", serif;
  border-bottom: 2px solid #CE1A31;
  margin-bottom: 32px;
  padding-bottom: 8px; }

.region-link {
  color: black;
  border-bottom: 2px solid #CE1A31;
  padding-bottom: 3px; }

.outside-japan {
  display: flex;
  align-items: center;
  justify-content: center; }
  .outside-japan > * {
    border-bottom: 2px solid #CE1A31;
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem; }

.social-links {
  padding: 0;
  margin: 0;
  list-style: none; }

.social-links__item {
  display: inline-block; }
  .social-links__item a {
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    display: inline-block;
    background-size: cover; }

.social-links__item--twitter a {
  background-image: url(../svg/twitter.svg); }

.social-links__item--facebook a {
  background-image: url(../svg/facebook.svg); }

@media (max-width: 40rem) {
  .c-section__overlay {
    position: relative !important;
    transform: translateY(0%) !important; } }

.mobile-carousel {
  position: absolute;
  z-index: 2;
  background: white;
  padding-top: 58px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  display: none; }

.mobile-carousel__text {
  padding: 3rem 1rem 2rem; }
  .mobile-carousel__text h1 {
    font-size: 2em;
    display: inline-block;
    border-bottom: 2px solid #CE1A31;
    margin-bottom: 1.25em;
    padding-bottom: 0.75em;
    line-height: 1; }
  .mobile-carousel__text h4 {
    font-family: "gotham-light", serif;
    font-size: 1.5em;
    line-height: 1; }

/**
 * Menu Toggle
 */
.menu__toggle {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  position: fixed;
  right: 20px;
  top: 20px;
  line-height: 23px;
  text-transform: uppercase;
  transition: color .35s;
  z-index: 11;
  padding-left: 20px; }
  @media screen and (min-width: 48rem) {
    .menu__toggle {
      padding-left: 32px; } }
  .menu__toggle span {
    display: block;
    width: 0;
    overflow: hidden; }
    @media screen and (min-width: 48rem) {
      .menu__toggle span {
        width: auto; } }

.menu__toggle.animate {
  color: white; }

.menu__toggle:before {
  background-color: #000;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 7px;
  transform-origin: center;
  transition: transform .35s,background-color .35s,.35s;
  width: 20px;
  will-change: transform; }

.menu__toggle.animate:before {
  background-color: #fff;
  margin-top: -2px;
  top: 50%;
  transform: rotate(45deg); }

.menu__toggle:after {
  background-color: #000;
  bottom: 8px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center;
  width: 20px;
  transition: transform .35s,background .35s;
  will-change: transform; }

.menu__toggle.animate:after {
  background-color: #fff;
  margin-top: -2px;
  top: 50%;
  transform: rotate(-45deg); }

/**
 * The Menu
 */
.menu {
  background-color: #BF002E;
  box-sizing: border-box;
  color: #fff;
  right: 0;
  overflow: hidden;
  padding: 80px 40px 30px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform .5s ease-out,opacity .5s,visibility .5s;
  visibility: hidden;
  will-change: transform,opacity,visibility;
  z-index: 10;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 40rem) {
    .menu {
      padding-top: 120px; } }

.menu.animate {
  opacity: 1;
  transform: none;
  visibility: visible; }

.menu__footer {
  font-size: 12px; }
  .menu__footer p {
    margin: 0; }

/**
 * Navigation
 */
.main-navigation {
  line-height: 2em;
  font-family: "gotham-medium", serif; }
  .main-navigation a {
    color: white; }
  .main-navigation a:hover {
    border-bottom: 1px solid white; }
  .main-navigation li li {
    font-family: "gotham-light", serif;
    padding-left: 1.5em;
    font-size: 14px; }

.main-header__bar {
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 3;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px; }
  @media screen and (min-width: 48rem) {
    .main-header__bar {
      padding: 0 30px; } }

.main-header__logo {
  padding: 1em 35px 1em 0;
  width: 100%;
  border-bottom: 2px solid #CE1A31;
  text-align: left;
  height: 58px; }
  .main-header__logo img {
    max-width: 290px;
    padding-right: 4em;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  @media screen and (min-width: 48rem) {
    .main-header__logo {
      margin: 0 auto;
      max-width: 480px;
      text-align: center;
      padding-right: 0; }
      .main-header__logo img {
        max-width: 262px;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        transform: 0; } }

.c-logo--wrapper {
  max-width: 35vh;
  max-height: 100%;
  flex: 1;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 4em 0; }
  .c-logo--wrapper .intro {
    font-size: .875rem;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    text-align: center; }

.c-logo {
  margin-top: 1em;
  background-image: url(../img/logoc.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 0;
  padding-top: 184.4%;
  background-size: cover;
  font-size: 0;
  text-indent: 9999px;
  transform: translateX(-9%); }
